/* Google Fonts */
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Shared Style */

.secondary-bg {
  background-color: #fff8f3;
}
.primary-color {
  color: #fd6e0a;
}
.text-color {
  color: #ffffff;
}
.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #181818;
}

.primary-btn {
  /* width: 200px;
  height: 64px; */
  font-weight: 700;
  font-size: 20px;
  background-color: #fd6e0a;
  color: #ffffff;
  /* padding: 18px 35px 19px 36px; */
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}

.text-center {
  text-align: center;
}
/* Page Section */

/* * {
  margin: 0;
  padding: 0; */

.headercl {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav styles goes here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 230px 0px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.text-primary {
  color: #fd6e0a;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 51px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner Styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-content {
  max-width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
}

.banner-description {
  font-size: 18px;
  margin: 30px 0;
}

.banner-profile-pic {
  width: 584px;
  height: 686px;
}

/* Main Section Starts here */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}

/* About section starts here */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-description {
  font-weight: 600;
}

/* Skills Section Starts Here */
.skills-container {
  display: flex;
  gap: 24px;
}

.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* Skills Section Ends Here  */

/* Resume section Starts here */

.resume-container {
  display: flex;
  gap: 24px;
}

.experience-title {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
}

.experience-sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #181818;
  margin-bottom: 20px;
}

.experience-description {
  color: #181818;
}

.resume hr {
  margin: 30px 5px;
}

.resume-download-cv {
  margin-top: 50px;
}

/* Resume section Ends here */
